<!DOCTYPE html>
<html>
<html lang="en">
<head>
	<title>blog</title>
	<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div class="jumbotron">
<h1>Form</h1>
</div>
<form class="form-inline" method="POST" action="">{% csrf_token %}
<div class="form-group">
{{ form.as_p}}

<input type="submit" name="create post">
</div>
</form>


</body>
</html>